<br><br><br>

<%= simple_form_for :flight, method: :get do |f| %>
  <%= f.input :origin_id, collection: @airport_options %>
  <%= f.input :destination_id, collection: @airport_options  %>
  <%= f.input :departure_date, collection: @date_options.sort %>
  <%= f.simple_fields_for :booking do |b| %>
    <%= b.input :number_of_passengers, collection: (1..4) %>
  <% end %>
  <%= f.button :submit, 'Find Flights'%>
<% end %>

<br>
<% if params[:commit] != 'Find Flights'%>
  <p>Use Search to book a flight.</p>
<% elsif @selected_flights.size == 0 %>
  <p>No flights match those parameters.</p>
<% else %>
  <%= simple_form_for :booking, method: :get do |f| %>
    <p> Flights from <%= @selected_flights.first.origin.name %> 
        to <%= @selected_flights.first.destination.name %>
        on <%= @selected_flights.first.departure_date %></p>
    <% @selected_flights.each do |flight| %>
      <strong>Flight #<%= flight.id%> Details</strong> <br>
      From <%= flight.origin.code %> to <%= flight.destination.code %> <br>
      Departure Time: <%= flight.departure_time.strftime('%H:%M') %> <br>
      Flight Duration: <%= flight.duration %> Minutes <br>
      <%= f.label :flight, "Book Flight ##{flight.id}", for: "booking_flight_#{flight.id}" %>
      <%= f.radio_button :flight, flight.id%> <br><br>
    <% end %>
    <%= f.hidden_field params[:number_of_passengers] %>
    <%= f.button :submit, 'Book Flight'%>
  <% end %>
<% end %>