<br><br><br>

<%= simple_form_for :flight, method: :get do |f| %>
  <%= f.input :origin_id, collection: @airport_options %>
  <%= f.input :destination_id, collection: @airport_options  %>
  <%= f.input :departure_date, collection: @date_options.sort %>
  <%= f.simple_fields_for :booking do |b| %>
    <%= b.input :number_of_passengers, collection: (1..4) %>
  <% end %>
  <%= f.button :submit, 'Find Flights'%>
<% end %>
<br>
<% if params[:commit] != 'Find Flights'%>
  <p>Use Search to book a flight.</p>
<% elsif @selected_flights.size == 0 %>
  <p>No flights match those parameters.</p>
<% else %>
  <%= simple_form_for :booking, url: new_booking_path, method: :get do |b| %>
    <p> Flights from <%= @selected_flights.first.origin.name %> 
        to <%= @selected_flights.first.destination.name %>
        on <%= @selected_flights.first.departure_date %></p>
    <% @selected_flights.each do |flight| %>
      <strong>Flight #<%= flight.id%> Details</strong> <br>
      <%= render partial: 'flight_details', locals: {flight: flight} %>
      <%= b.label :flight, "Book Flight ##{flight.id}", for: "booking_flight_#{flight.id}" %>
      <%= b.radio_button :flight_id, flight.id%> <br><br>
    <% end %>
    <%= b.hidden_field :number_of_passengers, value: params[:flight][:booking][:number_of_passengers] %>
    <%= b.button :submit, 'Book Flight'%>
  <% end %>
<% end %>