<br><br><br>

<%= form_with url:root_path, method: :get do |f| %>
  <%= f.label 'From: ' %>
  <%= f.select(:origin_id, @airport_options) %>
  <%= f.label 'To: ' %>
  <%= f.select(:destination_id, @airport_options) %>
  <%= f.label 'On: ' %>
  <%= f.select(:departure_time, @date_options) %>
  <%= f.label 'Number of tickets: ' %>
  <%= f.select(:number_of_tickets, 1..4) %>
  <%= f.submit 'Find Flights' %>
<% end %>

<% unless @selected_flights.nil? %>
<% @selected_flights.each do |flight| %>
  <p>Flight #:<%= flight.id %></p>
  <p>From: <%= flight.origin.name %>  -  To: <%= flight.destination.name %></p>
<% end %>
<% end %>
