<br><br>
<h1>Booking Details</h1>

<%= simple_form_for @booking do |b| %>
  <%= render partial: 'shared/flight_details', locals: {flight: @booking.flight} %>
  <%= params %>
  <%= b.hidden_field :flight_id %>
  <%= b.hidden_field :number_of_passengers %>

  <%= b.simple_fields_for :passengers do |p| %>
    <h3>Passenger  </h3>
    <%= p.input :email, required: true %> <br>
    <%= p.input :name, required: true %>
  <% end %>
  <br><%= b.button :submit, 'Confirm Booking' %>
<% end %>