<br><br>
<h1>Booking Details</h1>

<%= simple_form_for @booking do |b| %>
  <strong>From:</strong> <%= @booking.flight.origin.name %> <br>
  <strong>To:</strong> <%= @booking.flight.destination.name %> <br>
  <strong>On:</strong> <%= @booking.flight.departure_date %> <br>
  <strong>At:</strong> <%= @booking.flight.departure_time %> <br>
  <%= params %>
  <%= b.hidden_field :flight_id %>
  <%= b.hidden_field :number_of_passengers %>

  <%= b.simple_fields_for :passengers do |p| %>
    <h3>Passenger  </h3>
    <%= p.input :email, required: true %> <br>
    <%= p.input :name, required: true %>
  <% end %>
  <br><%= b.button :submit, 'Confirm Booking' %>
<% end %>